## Pandas Dataframework

In [6]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')

print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [7]:
print(df.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [8]:
print(df.tail(3))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

In [13]:
df = pd.read_csv('pokemon_data.csv',delimiter=',')

print(df.head(10))

   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1                  Bulbasaur  Grass  Poison  45      49       49       65
1  2                    Ivysaur  Grass  Poison  60      62       63       80
2  3                   Venusaur  Grass  Poison  80      82       83      100
3  3      VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4                 Charmander   Fire     NaN  39      52       43       60
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8  6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159
9  7                   Squirtle  Water     NaN  44      48       65       50

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
5       65     80           1      False
6       85    100           1      False
7       85    100           1      False
8      115    100           1      False
9       64     43           1      False

In [14]:
df.columns #Read header

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [17]:
print(df['Name'][0:11]) #Read columns

0                     Bulbasaur
1                       Ivysaur
2                      Venusaur
3         VenusaurMega Venusaur
4                    Charmander
5                    Charmeleon
6                     Charizard
7     CharizardMega Charizard X
8     CharizardMega Charizard Y
9                      Squirtle
10                    Wartortle
Name: Name, dtype: object

In [20]:
print(df[['Name','Speed']][0:11])

                         Name  Speed
0                   Bulbasaur     45
1                     Ivysaur     60
2                    Venusaur     80
3       VenusaurMega Venusaur     80
4                  Charmander     65
5                  Charmeleon     80
6                   Charizard    100
7   CharizardMega Charizard X    100
8   CharizardMega Charizard Y    100
9                    Squirtle     43
10                  Wartortle     58

In [23]:
print(df.iloc[6]) #Read each row

#                     6
Name          Charizard
Type 1             Fire
Type 2           Flying
HP                   78
Attack               84
Defense              78
Sp. Atk             109
Sp. Def              85
Speed               100
Generation            1
Legendary         False
Name: 6, dtype: object

In [24]:
print(df.iloc[1:5])

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [28]:
print(df.iloc[5,7]) #Read specific loacation

80

In [43]:
for index, row in df.iterrows():
   print(index,row[['Name','Speed']])

0 Name     Bulbasaur
Speed           45
Name: 0, dtype: object
1 Name     Ivysaur
Speed         60
Name: 1, dtype: object
2 Name     Venusaur
Speed          80
Name: 2, dtype: object
3 Name     VenusaurMega Venusaur
Speed                       80
Name: 3, dtype: object
4 Name     Charmander
Speed            65
Name: 4, dtype: object
5 Name     Charmeleon
Speed            80
Name: 5, dtype: object
6 Name     Charizard
Speed          100
Name: 6, dtype: object
7 Name     CharizardMega Charizard X
Speed                          100
Name: 7, dtype: object
8 Name     CharizardMega Charizard Y
Speed                          100
Name: 8, dtype: object
9 Name     Squirtle
Speed          43
Name: 9, dtype: object
10 Name     Wartortle
Speed           58
Name: 10, dtype: object
11 Name     Blastoise
Speed           78
Name: 11, dtype: object
12 Name     BlastoiseMega Blastoise
Speed                         78
Name: 12, dtype: object
13 Name     Caterpie
Speed          45
Name: 13, dtype: object
14 Name     Metapod
Speed         30
Name: 14, dtype: object
15 Name     Butterfree
Speed            70
Name: 15, dtype: object
16 Name     Weedle
Speed        50
Name: 16, dtype: object
17 Name     Kakuna
Speed        35
Name: 17, dtype: object
18 Name     Beedrill
Speed          75
Name: 18, dtype: object
19 Name     BeedrillMega Beedrill
Speed                      145
Name: 19, dtype: object
20 Name     Pidgey
Speed        56
Name: 20, dtype: object
21 Name     Pidgeotto
Speed           71
Name: 21, dtype: object
22 Name     Pidgeot
Speed        101
Name: 22, dtype: object
23 Name     PidgeotMega Pidgeot
Speed                    121
Name: 23, dtype: object
24 Name     Rattata
Speed         72
Name: 24, dtype: object
25 Name     Raticate
Speed          97
Name: 25, dtype: object
26 Name     Spearow
Speed         70
Name: 26, dtype: object
27 Name     Fearow
Speed       100
Name: 27, dtype: object
28 Name     Ekans
Speed       55
Name: 28, dtype: object
29 Name     Arbok
Speed       80
Name: 29, dtype: object
30 Name     Pikachu
Speed         90
Name: 30, dtype: object
31 Name     Raichu
Speed       110
Name: 31, dtype: object
32 Name     Sandshrew
Speed           40
Name: 32, dtype: object
33 Name     Sandslash
Speed           65
Name: 33, dtype: object
34 Name     Nidoran (Female)
Speed                  41
Name: 34, dtype: object
35 Name     Nidorina
Speed          56
Name: 35, dtype: object
36 Name     Nidoqueen
Speed           76
Name: 36, dtype: object
37 Name     Nidoran (Male)
Speed                50
Name: 37, dtype: object
38 Name     Nidorino
Speed          65
Name: 38, dtype: object
39 Name     Nidoking
Speed          85
Name: 39, dtype: object
40 Name     Clefairy
Speed          35
Name: 40, dtype: object
41 Name     Clefable
Speed          60
Name: 41, dtype: object
42 Name     Vulpix
Speed        65
Name: 42, dtype: object
43 Name     Ninetales
Speed          100
Name: 43, dtype: object
44 Name     Jigglypuff
Speed            20
Name: 44, dtype: object
45 Name     Wigglytuff
Speed            45
Name: 45, dtype: object
46 Name     Zubat
Speed       55
Name: 46, dtype: object
47 Name     Golbat
Speed        90
Name: 47, dtype: object
48 Name     Oddish
Speed        30
Name: 48, dtype: object
49 Name     Gloom
Speed       40
Name: 49, dtype: object
50 Name     Vileplume
Speed           50
Name: 50, dtype: object
51 Name     Paras
Speed       25
Name: 51, dtype: object
52 Name     Parasect
Speed          30
Name: 52, dtype: object
53 Name     Venonat
Speed         45
Name: 53, dtype: object
54 Name     Venomoth
Speed          90
Name: 54, dtype: object
55 Name     Diglett
Speed         95
Name: 55, dtype: object
56 Name     Dugtrio
Speed        120
Name: 56, dtype: object
57 Name     Meowth
Speed        90
Name: 57, dtype: object
58 Name     Persian
Speed        115
Name: 58, dtype: object
59 Name     Psyduck
Speed         55
Name: 59, dtype: object
60 Name     Golduck
Speed         85
Name: 60, dtype: object
61 Name     Mankey
Speed        70
Name: 61, dtype: object
62 Name     Primeape
Speed          95
Name: 62, dtype: object
63 Name     Growlithe
Speed           60
Name: 63, dtype: object
64 Name     Arcanine
Speed          95
Name: 64, dtype: object
65 Name     Poliwag
Speed         90
Name: 65, dtype: object
66 Name     Poliwhirl
Speed           90
Name: 66, dtype: object
67 Name     Poliwrath
Speed           70
Name: 67, dtype: object
68 Name     Abra
Speed      90
Name: 68, dtype: object
69 Name     Kadabra
Speed        105
Name: 69, dtype: object
70 Name     Alakazam
Speed         120
Name: 70, dtype: object
71 Name     AlakazamMega Alakazam
Speed                      150
Name: 71, dtype: object
72 Name     Machop
Speed        35
Name: 72, dtype: object
73 Name     Machoke
Speed         45
Name: 73, dtype: object
74 Name     Machamp
Speed         55
Name: 74, dtype: object
75 Name     Bellsprout
Speed            40
Name: 75, dtype: object
76 Name     Weepinbell
Speed            55
Name: 76, dtype: object
77 Name     Victreebel
Speed            70
Name: 77, dtype: object
78 Name     Tentacool
Speed           70
Name: 78, dtype: object
79 Name     Tentacruel
Speed           100
Name: 79, dtype: object
80 Name     Geodude
Speed         20
Name: 80, dtype: object
81 Name     Graveler
Speed          35
Name: 81, dtype: object
82 Name     Golem
Speed       45
Name: 82, dtype: object
83 Name     Ponyta
Speed        90
Name: 83, dtype: object
84 Name     Rapidash
Speed         105
Name: 84, dtype: object
85 Name     Slowpoke
Speed          15
Name: 85, dtype: object
86 Name     Slowbro
Speed         30
Name: 86, dtype: object
87 Name     SlowbroMega Slowbro
Speed                     30
Name: 87, dtype: object
88 Name     Magnemite
Speed           45
Name: 88, dtype: object
89 Name     Magneton
Speed          70
Name: 89, dtype: object
90 Name     Farfetch'd
Speed            60
Name: 90, dtype: object
91 Name     Doduo
Speed       75
Name: 91, dtype: object
92 Name     Dodrio
Speed       100
Name: 92, dtype: object
93 Name     Seel
Speed      45
Name: 93, dtype: object
94 Name     Dewgong
Speed         70
Name: 94, dtype: object
95 Name     Grimer
Speed        25
Name: 95, dtype: object
96 Name     Muk
Speed     50
Name: 96, dtype: object
97 Name     Shellder
Speed          40
Name: 97, dtype: object
98 Name     Cloyster
Speed          70
Name: 98, dtype: object
99 Name     Gastly
Speed        80
Name: 99, dtype: object
100 Name     Haunter
Speed         95
Name: 100, dtype: object
101 Name     Gengar
Speed       110
Name: 101, dtype: object
102 Name     GengarMega Gengar
Speed                  130
Name: 102, dtype: object
103 Name     Onix
Speed      70
Name: 103, dtype: object
104 Name     Drowzee
Speed         42
Name: 104, dtype: object
105 Name     Hypno
Speed       67
Name: 105, dtype: object
106 Name     Krabby
Speed        50
Name: 106, dtype: object
107 Name     Kingler
Speed         75
Name: 107, dtype: object
108 Name     Voltorb
Speed        100
Name: 108, dtype: object
109 Name     Electrode
Speed          140
Name: 109, dtype: object
110 Name     Exeggcute
Speed           40
Name: 110, dtype: object
111 Name     Exeggutor
Speed           55
Name: 111, dtype: object
112 Name     Cubone
Speed        35
Name: 112, dtype: object
113 Name     Marowak
Speed         45
Name: 113, dtype: object
114 Name     Hitmonlee
Speed           87
Name: 114, dtype: object
115 Name     Hitmonchan
Speed            76
Name: 115, dtype: object
116 Name     Lickitung
Speed           30
Name: 116, dtype: object
117 Name     Koffing
Speed         35
Name: 117, dtype: object
118 Name     Weezing
Speed         60
Name: 118, dtype: object
119 Name     Rhyhorn
Speed         25
Name: 119, dtype: object
120 Name     Rhydon
Speed        40
Name: 120, dtype: object
121 Name     Chansey
Speed         50
Name: 121, dtype: object
122 Name     Tangela
Speed         60
Name: 122, dtype: object
123 Name     Kangaskhan
Speed            90
Name: 123, dtype: object
124 Name     KangaskhanMega Kangaskhan
Speed                          100
Name: 124, dtype: object
125 Name     Horsea
Speed        60
Name: 125, dtype: object
126 Name     Seadra
Speed        85
Name: 126, dtype: object
127 Name     Goldeen
Speed         63
Name: 127, dtype: object
128 Name     Seaking
Speed         68
Name: 128, dtype: object
129 Name     Staryu
Speed        85
Name: 129, dtype: object
130 Name     Starmie
Speed        115
Name: 130, dtype: object
131 Name     Mr. Mime
Speed          90
Name: 131, dtype: object
132 Name     Scyther
Speed        105
Name: 132, dtype: object
133 Name     Jynx
Speed      95
Name: 133, dtype: object
134 Name     Electabuzz
Speed           105
Name: 134, dtype: object
135 Name     Magmar
Speed        93
Name: 135, dtype: object
136 Name     Pinsir
Speed        85
Name: 136, dtype: object
137 Name     PinsirMega Pinsir
Speed                  105
Name: 137, dtype: object
138 Name     Tauros
Speed       110
Name: 138, dtype: object
139 Name     Magikarp
Speed          80
Name: 139, dtype: object
140 Name     Gyarados
Speed          81
Name: 140, dtype: object
141 Name     GyaradosMega Gyarados
Speed                       81
Name: 141, dtype: object
142 Name     Lapras
Speed        60
Name: 142, dtype: object
143 Name     Ditto
Speed       48
Name: 143, dtype: object
144 Name     Eevee
Speed       55
Name: 144, dtype: object
145 Name     Vaporeon
Speed          65
Name: 145, dtype: object
146 Name     Jolteon
Speed        130
Name: 146, dtype: object
147 Name     Flareon
Speed         65
Name: 147, dtype: object
148 Name     Porygon
Speed         40
Name: 148, dtype: object
149 Name     Omanyte
Speed         35
Name: 149, dtype: object
150 Name     Omastar
Speed         55
Name: 150, dtype: object
151 Name     Kabuto
Speed        55
Name: 151, dtype: object
152 Name     Kabutops
Speed          80
Name: 152, dtype: object
153 Name     Aerodactyl
Speed           130
Name: 153, dtype: object
154 Name     AerodactylMega Aerodactyl
Speed                          150
Name: 154, dtype: object
155 Name     Snorlax
Speed         30
Name: 155, dtype: object
156 Name     Articuno
Speed          85
Name: 156, dtype: object
157 Name     Zapdos
Speed       100
Name: 157, dtype: object
158 Name     Moltres
Speed         90
Name: 158, dtype: object
159 Name     Dratini
Speed         50
Name: 159, dtype: object
160 Name     Dragonair
Speed           70
Name: 160, dtype: object
161 Name     Dragonite
Speed           80
Name: 161, dtype: object
162 Name     Mewtwo
Speed       130
Name: 162, dtype: object
163 Name     MewtwoMega Mewtwo X
Speed                    130
Name: 163, dtype: object
164 Name     MewtwoMega Mewtwo Y
Speed                    140
Name: 164, dtype: object
165 Name     Mew
Speed    100
Name: 165, dtype: object
166 Name     Chikorita
Speed           45
Name: 166, dtype: object
167 Name     Bayleef
Speed         60
Name: 167, dtype: object
168 Name     Meganium
Speed          80
Name: 168, dtype: object
169 Name     Cyndaquil
Speed           65
Name: 169, dtype: object
170 Name     Quilava
Speed         80
Name: 170, dtype: object
171 Name     Typhlosion
Speed           100
Name: 171, dtype: object
172 Name     Totodile
Speed          43
Name: 172, dtype: object
173 Name     Croconaw
Speed          58
Name: 173, dtype: object
174 Name     Feraligatr
Speed            78
Name: 174, dtype: object
175 Name     Sentret
Speed         20
Name: 175, dtype: object
176 Name     Furret
Speed        90
Name: 176, dtype: object
177 Name     Hoothoot
Speed          50
Name: 177, dtype: object
178 Name     Noctowl
Speed         70
Name: 178, dtype: object
179 Name     Ledyba
Speed        55
Name: 179, dtype: object
180 Name     Ledian
Speed        85
Name: 180, dtype: object
181 Name     Spinarak
Speed          30
Name: 181, dtype: object
182 Name     Ariados
Speed         40
Name: 182, dtype: object
183 Name     Crobat
Speed       130
Name: 183, dtype: object
184 Name     Chinchou
Speed          67
Name: 184, dtype: object
185 Name     Lanturn
Speed         67
Name: 185, dtype: object
186 Name     Pichu
Speed       60
Name: 186, dtype: object
187 Name     Cleffa
Speed        15
Name: 187, dtype: object
188 Name     Igglybuff
Speed           15
Name: 188, dtype: object
189 Name     Togepi
Speed        20
Name: 189, dtype: object
190 Name     Togetic
Speed         40
Name: 190, dtype: object
191 Name     Natu
Speed      70
Name: 191, dtype: object
192 Name     Xatu
Speed      95
Name: 192, dtype: object
193 Name     Mareep
Speed        35
Name: 193, dtype: object
194 Name     Flaaffy
Speed         45
Name: 194, dtype: object
195 Name     Ampharos
Speed          55
Name: 195, dtype: object
196 Name     AmpharosMega Ampharos
Speed                       45
Name: 196, dtype: object
197 Name     Bellossom
Speed           50
Name: 197, dtype: object
198 Name     Marill
Speed        40
Name: 198, dtype: object
199 Name     Azumarill
Speed           50
Name: 199, dtype: object
200 Name     Sudowoodo
Speed           30
Name: 200, dtype: object
201 Name     Politoed
Speed          70
Name: 201, dtype: object
202 Name     Hoppip
Speed        50
Name: 202, dtype: object
203 Name     Skiploom
Speed          80
Name: 203, dtype: object
204 Name     Jumpluff
Speed         110
Name: 204, dtype: object
205 Name     Aipom
Speed       85
Name: 205, dtype: object
206 Name     Sunkern
Speed         30
Name: 206, dtype: object
207 Name     Sunflora
Speed          30
Name: 207, dtype: object
208 Name     Yanma
Speed       95
Name: 208, dtype: object
209 Name     Wooper
Speed        15
Name: 209, dtype: object
210 Name     Quagsire
Speed          35
Name: 210, dtype: object
211 Name     Espeon
Speed       110
Name: 211, dtype: object
212 Name     Umbreon
Speed         65
Name: 212, dtype: object
213 Name     Murkrow
Speed         91
Name: 213, dtype: object
214 Name     Slowking
Speed          30
Name: 214, dtype: object
215 Name     Misdreavus
Speed            85
Name: 215, dtype: object
216 Name     Unown
Speed       48
Name: 216, dtype: object
217 Name     Wobbuffet
Speed           33
Name: 217, dtype: object
218 Name     Girafarig
Speed           85
Name: 218, dtype: object
219 Name     Pineco
Speed        15
Name: 219, dtype: object
220 Name     Forretress
Speed            40
Name: 220, dtype: object
221 Name     Dunsparce
Speed           45
Name: 221, dtype: object
222 Name     Gligar
Speed        85
Name: 222, dtype: object
223 Name     Steelix
Speed         30
Name: 223, dtype: object
224 Name     SteelixMega Steelix
Speed                     30
Name: 224, dtype: object
225 Name     Snubbull
Speed          30
Name: 225, dtype: object
226 Name     Granbull
Speed          45
Name: 226, dtype: object
227 Name     Qwilfish
Speed          85
Name: 227, dtype: object
228 Name     Scizor
Speed        65
Name: 228, dtype: object
229 Name     ScizorMega Scizor
Speed                   75
Name: 229, dtype: object
230 Name     Shuckle
Speed          5
Name: 230, dtype: object
231 Name     Heracross
Speed           85
Name: 231, dtype: object
232 Name     HeracrossMega Heracross
Speed                         75
Name: 232, dtype: object
233 Name     Sneasel
Speed        115
Name: 233, dtype: object
234 Name     Teddiursa
Speed           40
Name: 234, dtype: object
235 Name     Ursaring
Speed          55
Name: 235, dtype: object
236 Name     Slugma
Speed        20
Name: 236, dtype: object
237 Name     Magcargo
Speed          30
Name: 237, dtype: object
238 Name     Swinub
Speed        50
Name: 238, dtype: object
239 Name     Piloswine
Speed           50
Name: 239, dtype: object
240 Name     Corsola
Speed         35
Name: 240, dtype: object
241 Name     Remoraid
Speed          65
Name: 241, dtype: object
242 Name     Octillery
Speed           45
Name: 242, dtype: object
243 Name     Delibird
Speed          75
Name: 243, dtype: object
244 Name     Mantine
Speed         70
Name: 244, dtype: object
245 Name     Skarmory
Speed          70
Name: 245, dtype: object
246 Name     Houndour
Speed          65
Name: 246, dtype: object
247 Name     Houndoom
Speed          95
Name: 247, dtype: object
248 Name     HoundoomMega Houndoom
Speed                      115
Name: 248, dtype: object
249 Name     Kingdra
Speed         85
Name: 249, dtype: object
250 Name     Phanpy
Speed        40
Name: 250, dtype: object
251 Name     Donphan
Speed         50
Name: 251, dtype: object
252 Name     Porygon2
Speed          60
Name: 252, dtype: object
253 Name     Stantler
Speed          85
Name: 253, dtype: object
254 Name     Smeargle
Speed          75
Name: 254, dtype: object
255 Name     Tyrogue
Speed         35
Name: 255, dtype: object
256 Name     Hitmontop
Speed           70
Name: 256, dtype: object
257 Name     Smoochum
Speed          65
Name: 257, dtype: object
258 Name     Elekid
Speed        95
Name: 258, dtype: object
259 Name     Magby
Speed       83
Name: 259, dtype: object
260 Name     Miltank
Speed        100
Name: 260, dtype: object
261 Name     Blissey
Speed         55
Name: 261, dtype: object
262 Name     Raikou
Speed       115
Name: 262, dtype: object
263 Name     Entei
Speed      100
Name: 263, dtype: object
264 Name     Suicune
Speed         85
Name: 264, dtype: object
265 Name     Larvitar
Speed          41
Name: 265, dtype: object
266 Name     Pupitar
Speed         51
Name: 266, dtype: object
267 Name     Tyranitar
Speed           61
Name: 267, dtype: object
268 Name     TyranitarMega Tyranitar
Speed                         71
Name: 268, dtype: object
269 Name     Lugia
Speed      110
Name: 269, dtype: object
270 Name     Ho-oh
Speed       90
Name: 270, dtype: object
271 Name     Celebi
Speed       100
Name: 271, dtype: object
272 Name     Treecko
Speed         70
Name: 272, dtype: object
273 Name     Grovyle
Speed         95
Name: 273, dtype: object
274 Name     Sceptile
Speed         120
Name: 274, dtype: object
275 Name     SceptileMega Sceptile
Speed                      145
Name: 275, dtype: object
276 Name     Torchic
Speed         45
Name: 276, dtype: object
277 Name     Combusken
Speed           55
Name: 277, dtype: object
278 Name     Blaziken
Speed          80
Name: 278, dtype: object
279 Name     BlazikenMega Blaziken
Speed                      100
Name: 279, dtype: object
280 Name     Mudkip
Speed        40
Name: 280, dtype: object
281 Name     Marshtomp
Speed           50
Name: 281, dtype: object
282 Name     Swampert
Speed          60
Name: 282, dtype: object
283 Name     SwampertMega Swampert
Speed                       70
Name: 283, dtype: object
284 Name     Poochyena
Speed           35
Name: 284, dtype: object
285 Name     Mightyena
Speed           70
Name: 285, dtype: object
286 Name     Zigzagoon
Speed           60
Name: 286, dtype: object
287 Name     Linoone
Speed        100
Name: 287, dtype: object
288 Name     Wurmple
Speed         20
Name: 288, dtype: object
289 Name     Silcoon
Speed         15
Name: 289, dtype: object
290 Name     Beautifly
Speed           65
Name: 290, dtype: object
291 Name     Cascoon
Speed         15
Name: 291, dtype: object
292 Name     Dustox
Speed        65
Name: 292, dtype: object
293 Name     Lotad
Speed       30
Name: 293, dtype: object
294 Name     Lombre
Speed        50
Name: 294, dtype: object
295 Name     Ludicolo
Speed          70
Name: 295, dtype: object
296 Name     Seedot
Speed        30
Name: 296, dtype: object
297 Name     Nuzleaf
Speed         60
Name: 297, dtype: object
298 Name     Shiftry
Speed         80
Name: 298, dtype: object
299 Name     Taillow
Speed         85
Name: 299, dtype: object
300 Name     Swellow
Speed        125
Name: 300, dtype: object
301 Name     Wingull
Speed         85
Name: 301, dtype: object
302 Name     Pelipper
Speed          65
Name: 302, dtype: object
303 Name     Ralts
Speed       40
Name: 303, dtype: object
304 Name     Kirlia
Speed        50
Name: 304, dtype: object
305 Name     Gardevoir
Speed           80
Name: 305, dtype: object
306 Name     GardevoirMega Gardevoir
Speed                        100


# Sorting / Describing Data

In [3]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')

In [4]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [5]:
df.sort_values('Name',ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [9]:
df.sort_values(['Type 1','HP'],ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False


# Making Changes to the data

In [19]:
df['Total']=df['HP']+df['Attack']+df['Defense']+df['Speed']


df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,188
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,245
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,325
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,383
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,199
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,260
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,340
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,419
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,360
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,200

In [22]:
df.drop(columns=['Total'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [27]:
df['Total']=df.iloc[:,4:10].sum(axis=1)

df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

# Saving Data file

In [30]:
df.to_csv('modified.csv')

In [32]:
df.to_excel('modified.xlsx')

In [39]:
df.to_csv('modified.csv',sep='\t')

# Filtering Data

In [40]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,395
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False,300
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,390
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False,400
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False,280
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False,515
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False,294
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

In [41]:
df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False,195
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False,313
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False,405
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False,530
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False,350
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,531

In [45]:
df['HP']> 50

0      False
1       True
2       True
3       True
4      False
       ...
795    False
796    False
797     True
798     True
799     True
Name: HP, Length: 800, dtype: bool

In [48]:
new_df=pd.read_csv('modified.csv')
new_df.reset_index(drop=True, inplace=True)
new_df

    \t#\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary\tTotal
0    0\t1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65...
1    1\t2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t...
2    2\t3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100...
3    3\t3\tVenusaurMega Venusaur\tGrass\tPoison\t80...
4    4\t4\tCharmander\tFire\t\t39\t52\t43\t60\t50\t...
..                                                 ...
795  795\t719\tDiancie\tRock\tFairy\t50\t100\t150\t...
796  796\t719\tDiancieMega Diancie\tRock\tFairy\t50...
797  797\t720\tHoopaHoopa Confined\tPsychic\tGhost\...
798  798\t720\tHoopaHoopa Unbound\tPsychic\tDark\t8...
799  799\t721\tVolcanion\tFire\tWater\t80\t110\t120...

[800 rows x 1 columns]

# Aggregate Statistics(Groupby)

In [10]:
import pandas as pd
df= pd.read_csv('pokemon_data.csv')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [11]:
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408

In [12]:
import pandas as pd
df= pd.read_csv('modified.csv',sep='\t')
df

,Unnamed: 0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [13]:
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

,Unnamed: 0,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,,
Steel,486.296296,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,487.703704
Rock,431.840909,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,453.750000
Dragon,521.843750,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250
Ground,392.312500,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,437.500000
Ghost,536.281250,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500
Water,333.312500,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357
Ice,465.666667,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,433.458333
Grass,380.414286,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,421.142857
Bug,368.072464,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,378.927536
Dark,507.387097,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935
Poison,278.285714,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,399.142857
Fire,360.942308,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,458.076923
Psychic,420.105263,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,475.947368
Electric,400.590909,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,443.409091
Flying,746.500000,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000
Fighting,400.444444,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444
Fairy,494.529412,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,413.176471
Normal,351.581633,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,401.683673

In [14]:
df.groupby(['Type 1']).sum()

,Unnamed: 0,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,,
Bug,25397,23080,3925,4897,4880,3717,4471,4256,222,0,26146
Dark,15729,14302,2071,2740,2177,2314,2155,2361,125,2,13818
Dragon,16699,15180,2666,3588,2764,3099,2843,2657,124,12,17617
Electric,17626,15994,2631,3040,2917,3961,3243,3718,144,4,19510
Fairy,8407,7642,1260,1046,1117,1335,1440,826,70,1,7024
Fighting,10812,9824,1886,2613,1780,1434,1747,1784,91,0,11244
Fire,18769,17025,3635,4408,3524,4627,3755,3871,167,5,23820
Flying,2986,2711,283,315,265,377,290,410,22,2,1940
Ghost,17161,15568,2062,2361,2598,2539,2447,2059,134,2,14066
Grass,26629,24141,4709,5125,4956,5425,4930,4335,235,3,29480
Ground,12554,11401,2361,3064,2715,1807,2008,2045,101,4,14000
Ice,11176,10165,1728,1746,1714,1861,1831,1523,85,2,10403
Normal,34455,31279,7573,7200,5865,5470,6245,7012,299,2,39365
Poison,7792,7050,1883,2091,1927,1692,1803,1780,71,0,11176
Psychic,23946,21706,4026,4073,3858,5609,4918,4645,193,14,27129
Rock,19001,17280,2876,4086,4435,2787,3321,2460,152,4,19965
Steel,13130,11957,1761,2503,3412,1823,2177,1492,104,4,13168
Water,37331,33946,8071,8305,8170,8379,7898,7388,320,4,48211

In [15]:
df.groupby(['Type 1']).count()

,Unnamed: 0,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,,,,
Bug,69,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,112,53,112,112,112,112,112,112,112,112,112

In [23]:
df['count']=1
df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [28]:
df.groupby(['Type 1','Type 2','HP']).count()['count'].head(15)

Type 1  Type 2    HP
Bug     Electric  50    1
                  70    1
        Fighting  80    2
        Fire      55    1
                  85    1
        Flying    30    1
                  40    1
                  55    1
                  60    2
                  61    1
                  65    2
                  70    4
                  80    1
                  86    1
        Ghost     1     1
Name: count, dtype: int64

In [34]:
df.groupby(['Type 1','Type 2','HP']).count().head(15)

                    Unnamed: 0  #  Name  Attack  Defense  Sp. Atk  Sp. Def  \
Type 1 Type 2   HP
Bug    Electric 50           1  1     1       1        1        1        1
                70           1  1     1       1        1        1        1
       Fighting 80           2  2     2       2        2        2        2
       Fire     55           1  1     1       1        1        1        1
                85           1  1     1       1        1        1        1
       Flying   30           1  1     1       1        1        1        1
                40           1  1     1       1        1        1        1
                55           1  1     1       1        1        1        1
                60           2  2     2       2        2        2        2
                61           1  1     1       1        1        1        1
                65           2  2     2       2        2        2        2
                70           4  4     4       4        4        4        4
                80           1  1     1       1        1        1        1
                86           1  1     1       1        1        1        1
       Ghost    1            1  1     1       1        1        1        1

                    Speed  Generation  Legendary  Total  count
Type 1 Type 2   HP
Bug    Electric 50      1           1          1      1      1
                70      1           1          1      1      1
       Fighting 80      2           2          2      2      2
       Fire     55      1           1          1      1      1
                85      1           1          1      1      1
       Flying   30      1           1          1      1      1
                40      1           1          1      1      1
                55      1           1          1      1      1
                60      2           2          2      2      2
                61      1           1          1      1      1
                65      2           2          2      2      2
                70      4           4          4      4      4
                80      1           1          1      1      1
                86      1           1          1      1      1
       Ghost    1       1           1          1      1      1

In [41]:
df=pd.read_csv('pokemon_data.csv')
df.groupby(['Type 1','Type 2']).count().head(30)

                    #  Name  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
Type 1   Type 2
Bug      Electric   2     2   2       2        2        2        2      2
         Fighting   2     2   2       2        2        2        2      2
         Fire       2     2   2       2        2        2        2      2
         Flying    14    14  14      14       14       14       14     14
         Ghost      1     1   1       1        1        1        1      1
         Grass      6     6   6       6        6        6        6      6
         Ground     2     2   2       2        2        2        2      2
         Poison    12    12  12      12       12       12       12     12
         Rock       3     3   3       3        3        3        3      3
         Steel      7     7   7       7        7        7        7      7
         Water      1     1   1       1        1        1        1      1
Dark     Dragon     3     3   3       3        3        3        3      3
         Fighting   2     2   2       2        2        2        2      2
         Fire       3     3   3       3        3        3        3      3
         Flying     5     5   5       5        5        5        5      5
         Ghost      2     2   2       2        2        2        2      2
         Ice        2     2   2       2        2        2        2      2
         Psychic    2     2   2       2        2        2        2      2
         Steel      2     2   2       2        2        2        2      2
Dragon   Electric   1     1   1       1        1        1        1      1
         Fairy      1     1   1       1        1        1        1      1
         Fire       1     1   1       1        1        1        1      1
         Flying     6     6   6       6        6        6        6      6
         Ground     5     5   5       5        5        5        5      5
         Ice        3     3   3       3        3        3        3      3
         Psychic    4     4   4       4        4        4        4      4
Electric Dragon     1     1   1       1        1        1        1      1
         Fairy      1     1   1       1        1        1        1      1
         Fire       1     1   1       1        1        1        1      1
         Flying     5     5   5       5        5        5        5      5

                   Generation  Legendary
Type 1   Type 2
Bug      Electric           2          2
         Fighting           2          2
         Fire               2          2
         Flying            14         14
         Ghost              1          1
         Grass              6          6
         Ground             2          2
         Poison            12         12
         Rock               3          3
         Steel              7          7
         Water              1          1
Dark     Dragon             3          3
         Fighting           2          2
         Fire               3          3
         Flying             5          5
         Ghost              2          2
         Ice                2          2
         Psychic            2          2
         Steel              2          2
Dragon   Electric           1          1
         Fairy              1          1
         Fire               1          1
         Flying             6          6
         Ground             5          5
         Ice                3          3
         Psychic            4          4
Electric Dragon             1          1
         Fairy              1          1
         Fire               1          1
         Flying             5          5

In [42]:
df.groupby(['Type 2','Speed']).count().head(30)

              #  Name  Type 1  HP  Attack  Defense  Sp. Atk  Sp. Def  \
Type 2 Speed
Bug    45     1     1       1   1       1        1        1        1
       65     1     1       1   1       1        1        1        1
       75     1     1       1   1       1        1        1        1
Dark   35     1     1       1   1       1        1        1        1
       55     2     2       2   2       2        2        2        2
       58     1     1       1   1       1        1        1        1
       60     1     1       1   1       1        1        1        1
       61     1     1       1   1       1        1        1        1
       65     2     2       2   2       2        2        2        2
       71     1     1       1   1       1        1        1        1
       74     2     2       2   2       2        2        2        2
       80     2     2       2   2       2        2        2        2
       81     1     1       1   1       1        1        1        1
       84     1     1       1   1       1        1        1        1
       92     1     1       1   1       1        1        1        1
       95     2     2       2   2       2        2        2        2
       105    1     1       1   1       1        1        1        1
       122    1     1       1   1       1        1        1        1
Dragon 38     1     1       1   1       1        1        1        1
       44     1     1       1   1       1        1        1        1
       45     1     1       1   1       1        1        1        1
       48     1     1       1   1       1        1        1        1
       55     1     1       1   1       1        1        1        1
       58     1     1       1   1       1        1        1        1
       70     1     1       1   1       1        1        1        1
       71     1     1       1   1       1        1        1        1
       85     1     1       1   1       1        1        1        1
       90     3     3       3   3       3        3        3        3
       98     1     1       1   1       1        1        1        1
       100    3     3       3   3       3        3        3        3

              Generation  Legendary
Type 2 Speed
Bug    45              1          1
       65              1          1
       75              1          1
Dark   35              1          1
       55              2          2
       58              1          1
       60              1          1
       61              1          1
       65              2          2
       71              1          1
       74              2          2
       80              2          2
       81              1          1
       84              1          1
       92              1          1
       95              2          2
       105             1          1
       122             1          1
Dragon 38              1          1
       44              1          1
       45              1          1
       48              1          1
       55              1          1
       58              1          1
       70              1          1
       71              1          1
       85              1          1
       90              3          3
       98              1          1
       100             3          3